{% extends "admin/timesheet_extend.html" %}

{% block ss %}
			<script>
				var x={{popup}}
				if(x=='1'){
				alert("Incorrect Old Password")
				}
			</script>
			<script>
			function check()
			{
				
				var op= document.getElementById('old_password').value;
				var np= document.getElementById('new_password').value;
				var rnp= document.getElementById('renew_password').value;
				if(op=="" || np=="" || rnp=="")
				{
				alert("Fill Mandatory Fields")
				return false;
				}
				if(np != rnp)
				{
				alert("Confirm password not matches")
				return false;
				}
				return true;
			}
			</script>
			{% if user_status == '3' %}
			<div class="admin-left-sidebar">
        	<ul>
			<li  class="dashboard-active"><a href="/progazer/login/">Dashboard</a></li>            
            <li ><a href="/progazer/employee/"> Add Employee </a></li>
            <li ><a href="/progazer/view_employee/"> View Employee </a></li>
            <li><a href="/progazer/leave_application/">Add Leave</a></li>
			<li><a href="/progazer/leave_register_hr/">Leave Register</a></li>
			<li><a href="/progazer/attendence/">Upload Attendence</a></li>
			<li ><a href="/progazer/view_attendence_emp/">Employee Attendence</a></li>
			<li ><a href="/progazer/view_attendence_date/">Date Attendence </a></li>
			<li><a href="/progazer/manage_hr/">HR Group </a></li>
			<li><a href="/progazer/manage_att_uploader/">Attendence Uploader Group</a></li>
			</div>
			{% else %}
			{% if user_status == '4' %}
			<div class="admin-left-sidebar">
        	<ul>
			
			<li  class="dashboard-active"><a href="/progazer/login/">Dashboard</a></li>            
            <li><a href="/progazer/attendence/">Upload Attendence</a></li>
			</ul>
			
			{% else %}
			<body style="margin:0; padding:0; font-family:arial;">
			<div class="admin-left-sidebar">
        	<ul>
            <li  class="dashboard-active"><a href="/progazer/login/">Dashboard</a></li>            
            <li ><a href="/progazer/addtimesheet/"> Add Timesheet </a></li>
            <li><a href="/progazer/leave_application/">Add Leave</a></li>
            {% if user_status == '1' %}
			<li><a href="/progazer/viewtimesheet/"> View Timesheet </a></li>
			<li><a href="/progazer/assign_project/"> Assign Project  </a></li>
			<li><a href="/progazer/re_assign_project/"> Re-assign Project  </a></li>
			<li><a href="/progazer/addproject/"> Add Project </a></li>
			<li><a href="/progazer/view_project/"> View Project </a></li>
			<li><a href="/progazer/addclient/"> Add Client </a></li>
			<li><a href="/progazer/view_client/"> View Client </a></li>
			<li><a href="/admin/"> View Database </a></li> 
			{% else %}
            {% if user_status == '2' %}
            <li><a href="/progazer/viewtimesheet/"> View Timesheet </a></li>
            {% endif %}
            {% endif %}
			{% endif %}
            </ul>
        </div>
        
        
        
					
			{% endif %}
			<div class="admin-right-sidebar">
				<div class="main-bg">
					<div id="add-emp-wrapper">
						<div class="emp-login-logo"></div>
						<div class="add-project-container">
							<div class="emp-right-heading">
								<h2>Change Password</h2>
							</div>
			
							<form method="post" action=".">{%csrf_token%}
							<div class="add-emp-content">
								<div class="emp-left-wrapper">
									<div class="add-emp-label">Username:</div>
									<div class="emp-input-wrapper">
										
										<input type="text" class="emp-input" readonly="True" value="{{username}}" />
									<div class="error-msg" >
										{{ form.name.errors }}
										</div>
									</div>
									<div class="add-emp-label">New Password:*</div>
									<div class="emp-input-wrapper">
										<input type="password" class="emp-input" name="new_password" id="new_password"/>
										<div class="error-msg" >
										{{form.type.errors}}
										</div>
									</div>
								
									<div class="emp-input-wrapper">	
										<input type="submit" value="Submit" class="emp-button" onclick="return check()"/>
									</div>
								
								</div>
								
								<div class="emp-right-wrapper">											
									<div class="add-emp-label">Old Password:*</div>
									<div class="emp-input-wrapper">
										<input type="password" class="emp-input" name="old_password" id="old_password"/>
										<div class="error-msg" >
										{{form.type.errors}}
										</div>
									</div>
									<div class="add-emp-label">Confirm Password:*</div>
									<div class="emp-input-wrapper">
										<input type="password" class="emp-input" id="renew_password" />
										<div class="error-msg" >
										{{form.type.errors}}
										</div>
									
									
								</div>  
							</div>  
							</form>
						</div>
					</div>
				</div>										
					
			
</div>
{% endblock %}

